<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Protect Resource</title>
  </head>
  <body>
    <h1>Sign-in to access this protected resource</h1>
    <form method="post">
      <p>
        <label for="username">Username</label>
        <input type="text" name="username">
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" name="password">
      </p>
      <input type="submit">
      <input name="sessionId" value="<%- sessionId %>">
    </form>

    <script>
      var http = new XMLHttpRequest();
      var url = "<%- path %>";
      var redirectURI = "<%- redirectUri %>";
      //var params = "sessionId=<%- sessionId %>&redirectUri=<%- redirectUri %>";
      var params = "sessionId=<%- sessionId %>";
      console.log('POST: %s, %s', url, redirectURI);
      http.open("POST", url, true);

      //Send the proper header information along with the request
      http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

      function xhrResp() {//Call a function when the state changes.
        if(http.readyState == 4 && http.status == 200) {

          function post(path, formData, method ) {
            method = "post"; // Set method to post by default if not specified.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);
            Object.entries(formData).forEach(([key, value]) => {
              console.log('%s: %s', key, value);
              var hiddenField = document.createElement("input");
              hiddenField.setAttribute("type", "hidden");
              hiddenField.setAttribute("name", key);
              hiddenField.setAttribute("value", value);
              form.appendChild(hiddenField);              
            });
            document.body.appendChild(form);
            form.submit();
          }
          
          post(redirectURI, JSON.parse(http.responseText));
        }
      }

      http.onreadystatechange = xhrResp;
      console.log('http.send: ' + params); 
      http.send(params);
    </script>
  </body>
</html>
